---
import { Font } from 'astro:assets'
import '@/styles/global.css'
import '@/styles/mdx-cards.css'

import SEO from '@/components/SEO.astro'
import { ClientRouter } from 'astro:transitions';

const {
  title,
  description,
  image,
  type,
  publishedTime,
  modifiedTime,
} = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<SEO 
			title={title}
			description={description}
			image={image}
			type={type}
			publishedTime={publishedTime}
			modifiedTime={modifiedTime}
		/>

		<Font preload cssVariable='--font-noto-sans-sc'></Font>
		<Font preload cssVariable='--font-cascadia-code'></Font>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100svh;
	}
</style>
